<div class="container">
    <br>
<form #f="ngForm" novalidate style="border: 1px solid blue; padding: 20px;">
   
    <div class="form-group">
        <label><b>First Name</b></label>
        <input ngModel name="fname" type="text" class="form-control" #myFname="ngModel" required>
        <div class="text-danger" *ngIf=" myFname.touched && myFname.invalid">
            *Please enter your first name
        </div>
    </div>
    <div class="form-group">
        <label><b>Last Name</b></label>
        <input name="lname" ngModel type="text" class="form-control" #mylname="ngModel" required >
        <div class="text-danger" *ngIf=" mylname.touched && mylname.invalid">
            *Please enter your last name
        </div>
    </div>
    <div class="form-group">
        <label><b>Email</b></label>
        <input name="email" ngModel type="email" class="form-control" #myemail="ngModel"required>
        <div class="text-danger" *ngIf=" myemail.touched && myemail.invalid">
            <p *ngIf="myemail.errors?.['required']">Email is required</p>
            <p *ngIf="myemail.errors?.['pattern']">enter valid email id</p>
            
      </div>
    </div>
    <div class="form-group">
        <label><b>Password</b></label>
        <input name="password" ngModel type="password" class="form-control" minlength="4" maxlength="8" #mypswd="ngModel">
        <div class="text-danger" *ngIf="mypswd.touched && mypswd.invalid ">
            <p *ngIf="mypswd.errors?.['required']">*password is required</p>
            <p *ngIf="mypswd.errors?.['minlength']">Password must be atleast 5 characters</p>
              <p *ngIf="mypswd.errors?.['maxlength']">Password can have max 8 characters</p>
        </div>
    </div>
    
    <div class="form-group">

        <button (click)="getFormsValue(f)">Login</button>

    </div>
    

</form>
</div>