
<div class="d-flex  d-flex justify-content-left" id="wrapper" style="padding-left:3px;">
    
      <!-- Sidebar-->
    
      <div class="border-end bg-blue" id="sidebar-wrapper">
    
        <div class="sidebar-heading border-bottom bg-blue">Start Angular</div>
    
        <div class="list-group list-group-flush">
    
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
    
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
    
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
    
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
    
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
    
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
    
        </div>
    
      </div>
    
