<div class="container">
    <h5 style="text-align:center">Login form</h5>
    <br>
<form class="row g-3" style="border: 1px solid grey; background-color: rgb(176, 239, 241);">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputEmail4" required>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Phone number</label>
      <input type="text" class="form-control" id="inputPassword4" required>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputAddress" placeholder="abc@gmail.com" required>
    </div>
   
    
    <div class="col-12">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-outline-primary" type="button"><i class="bi bi-envelope-fill"></i>Continue with gmail</button>
            <button class="btn btn-outline-primary" type="button"><i class="bi bi-google"></i>Continue with Google</button>
          </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="align-items: center;">Log in</button>
      <a href="/signup" >New to Zomato? create account</a>
    </div>
  </form>
</div>