<div class="container">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" style="background: #5755d9;"   type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </button>
    </div>
    <br>
    <div class="row border-bottom" style="margin-top: 50px;">
        <div class="col-10">
    <h3 style="color: gray;">DevOps</h3>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary">Secondary</button>
        </div>
    
    </div>

<br>
<app-course></app-course>