


<div class="container">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" style="background: #5755d9;"   type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </button>
    </div>
    <br>
    <div class="row border-bottom" style="margin-top: 50px;">
        <div class="col-10">
    <h3 style="color: gray;">DevOps</h3>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary">View all</button>
        </div>
        <br>
        <div class="row">
            <div class="col" *ngFor="let course of cList?.['sub-home'].data">
                <!-- {{course._id | json}} -->
                <app-course [imgid]="course._id" [configs]="course['spayee:resource']">
                </app-course>
            </div>
        </div>
    
    </div>

<br>


<div class="container">
    <div class="row border-bottom" style="margin-top: 50px;">
        <div class="col-10">
    <h3 style="color: gray;">Cloud Computing</h3>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-secondary">View all</button>
        </div>
    
    </div>
    <br>
    <div class="row">
        <div class="col" *ngFor="let course of dList?.['sub-home'].data">
            <!-- {{course._id | json}} -->
            <app-course [imgid]="course._id" [configs]="course['spayee:resource']">
            </app-course>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row border-bottom" style="margin-top: 50px;">
            <div class="col-10">
        <h3 style="color: gray;">App Development</h3>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-secondary">View all</button>
            </div>
        
        </div>
        <br>
        <div class="row">
            <div class="col" *ngFor="let course of eList?.['sub-home'].data">
                <!-- {{course._id | json}} -->
                <app-course [imgid]="course._id" [configs]="course['spayee:resource']">
                </app-course>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row border-bottom" style="margin-top: 50px;">
                <div class="col-10">
            <h3 style="color: gray;">Machine Learning</h3>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary">View all</button>
                </div>
            
            </div>
            <br>
            
            <div class="row">
                <div class="col" *ngFor="let course of fList?.['sub-home'].data">
                    <!-- {{course._id | json}} -->
                    <app-course [imgid]="course._id" [configs]="course['spayee:resource']">
                    </app-course>
                </div>
            </div>


            
            
           
            
            <br>
            
            
            <div class="container">
                <div class="row border-bottom" style="margin-top: 50px;">
                    <div class="col-10">
                <h3 style="color: gray;">Software Testing</h3>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary">View all</button>
                    </div>
                
                </div>
            <br>
            
            <div class="row">
                <div class="col" *ngFor="let course of gList?.['sub-home'].data">
                    <!-- {{course._id | json}} -->
                    <app-course [imgid]="course._id" [configs]="course['spayee:resource']">
                    </app-course>
                </div>
            </div>