<div class="container">
    <div class="row">
<div class="card m-3" style="width: 15rem;">
    <img src="https://dz8fbjd9gwp2s.cloudfront.net/courses/61aa18860cf26833c8eca46c/61aa18860cf26833c8eca46c_scaled_cover.jpg?v=1"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{courseTitle | uppercase}}</h5>
        <span><b>Course date: </b> {{currentDate | date: 'mm/dd/y'}}</span>
        <h6 class="card-subtitle mb-2 text-muted">Learnlytica</h6>
        {{courseDetails | json}}
        
    </div>
</div>

<div class="card m-3" *ngFor="let ele of items" style="width: 15rem;">
    <img src="{{ele.img}}"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ele.title}}</h5>
        <p>{{ele.price}}</p>
        <h6 class="card-subtitle mb-2 text-muted">Learnlytica</h6>
       
        
    </div>
</div>
    </div>
</div>