<div class=" border border-primary m-2 p-2" style="background-color: rgb(156, 186, 241);">
    <h3 style="color:rgb(86, 86, 134);">Reach us at...</h3>
    <div class="row p-2 m-3 ">
        <div class="card text-white bg-secondary m-3 " style="max-width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Open timings</h5>
              <p class="card-text">Mon-Fri - 9:00 am to 5:00pm</p>
            </div>
          </div>

          <div class="card text-white bg-secondary m-3" style="max-width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Find us here</h5>
              <p class="card-text">984, Crown Towers 80ft Road, Koramangala 4th Block,
                S T Bed Area, Bengaluru, Karnataka 560034</p>
            </div>
          </div>

        
    </div>
</div>
