<div class="container" style="background-color:thistle;">
    <footer>
    <div class="wrapper pt-20 end-text">
        <p>Some of the other services that can be of assistance to you for leisure, health and home
            convenience are - Courier Service, Laundry Service, AC Repair, Thyrocare, Metropolis, Order<br>
            Mineral
            Water, Book a Table, Doctor's Appointment, Order Food Online, etc. </p>

        <p><span id="f_end">With an endless number of things under the sun, you can be sure this will be
                your</span>
            <i><span id="f_end_ost">'One Stop Shop' </span></i> <span id="f_end_grd">to find everything and
                more.</span>
        </p>
    </div>


<div style="text-align: center;">
    <span> Copyright 2022-20. All Rights Reserved.</span>
    <a href="https://www.justdial.com/Privacy-Policy">Privacy</a>
    |
    <a href="https://www.justdial.com/Terms-of-Use">Terms</a>
    |
    <a href="https://www.justdial.com/Infringement-Policy">Infringement</a>

    <span>View Just Dial on</span>

    <a href="https://www.justdial.com/">
        Smartphone</a>
    |
    <a href="https://www.justdial.com/">
        Mobile
    </a>
</div>
</footer>
<div class="rightfixed">
<a href="https://www.justdial.com/Free-Listing" class="frilst" target="_blank"></a>
<a href="https://www.justdial.com/support" class="cscare" target="_blank"></a>
</div>




</div>
