<div style="min-height:450px;">
<!--<app-list-course></app-list-course>-->
<div class="card bg-dark text-white">
    <img src="https://dz8fbjd9gwp2s.cloudfront.net/orgData/617bc0bb0cf2d8ee2a3bbba4/pages/assets/images/1vyzjthinkoutsideboxschool.jpg" height="350" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h4 class="card-title">Learnlytica</h4>
      <h3 class="card-text" style="font-size: large;">Your online training and assessment platform</h3>
     
    </div>
  </div>
<router-outlet></router-outlet>
</div>